
.control-panel-switcher {
    position: absolute;
    right: .5em;
    text-align: left;
    top: 10em;
}

.control-panel-button-area {
    top: 2.5em;
    right: -0.2em;
}

#control-panel {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    opacity: 0.8;
    float: left;
    max-width: 0;
    max-height: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    background-color: #FFF;
    position: absolute;

    right: 0;
    z-index: 1000;
    margin: 2px 0 0;

}

#control-panel.open {
    display: block;
    max-width: 520px;
    max-height: 500px;
    width: auto;
    height: auto;
    padding: 10px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    opacity: 0.8;
    position: absolute;
    top: 68px;
    z-index: 999;

}

